<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Game Name</td>
                    <td><input type="text" required placeholder="Game name..." [(ngModel)]="game.name" /></td>
                </tr>
                <tr>
                    <td>Number of Players</td>
                    <td><input type="number" required placeholder="5" min="5" max="10" step="1" [(ngModel)]="game.numberOfPlayers" /></td>
                </tr>
                <tr>
                    <td>Roles</td>
                    <td>
                        <ul class="roles">
                            <li (click)="toggleRole('Merlin')" [class.active]="hasRole('Merlin')">Merlin</li>
                            <li (click)="toggleRole('Assassin')" [class.active]="hasRole('Assassin')">Assassin</li>
                            <li (click)="toggleRole('Mordred')" [class.active]="hasRole('Mordred')">Mordred</li>
                            <li (click)="toggleRole('Percival')" [class.active]="hasRole('Percival')">Percival</li>
                            <li (click)="toggleRole('Morgana')" [class.active]="hasRole('Morgana')">Morgana</li>
                            <li (click)="toggleRole('Oberon')" [class.active]="hasRole('Oberon')">Oberon</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Items</td>
                    <td>
                        <ul class="items">
                            <li (click)="toggleItem('Lady')" [class.active]="hasItem('Lady')">Lady of the Lake</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div class="error" *ngIf="error">{{error}}</div>
        <div class="pull-right">
            <button class="btn btn-danger" (click)="cancel()">Cancel</button>
            <button class="btn btn-success" (click)="createGame()">Create</button>
        </div>
    </div>
</div>