<div class="row">
    <div class="col-md-12">
        <div class="error" *ngIf="error">{{error}}</div>
        <div class="pull-right">
            <button class="btn btn-success" (click)="create()">Create New Game</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tbody>
                <tr *ngFor="let game of games" (click)="displayInfo(game)">
                    <td>{{game?.name}}</td>
                    <td>{{(game?.currentPlayerCount)}} / {{game?.numberOfPlayers}}</td>
                    <td>
                        <button class="btn btn-success" (click)="join(game)">Join</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="displayedGame">
    <button class="btn btn-danger" (click)="closeDisplayInfo()">Close</button> {{displayedGame.name}}
</div>