<div class="row">
    <div class="col-md-12">
        <div class="error" *ngIf="error">{{error}}</div>
        <div class="pull-right">
            <button class="btn btn-success" (click)="create()">Create New Game</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tbody>
                <tr *ngFor="let game of games" [class.active]="game === selectedGame" (click)="onSelect(game)">
                    <td>{{game.name}}</td>
                    <td>{{game.players.length}} / {{game.numberOfPlayers}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>